*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;    
}
:root{
    --signin-color: #A22CFF;
    --blue-color: #1C49E8;
}
body,html{
    min-height: 100dvh;
    width: 100vw;
    background: rgb(237,221,231);
    background: linear-gradient(117deg, rgba(237,221,231,1) 35%, rgba(223,221,237,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main__box{
    max-width: 474px;
    background-color: #ffffff;
    border-radius: 31px;
    padding: 80px;
    box-shadow: 2px 2px 13px -2px rgba(0,0,0,0.83);
-webkit-box-shadow: 2px 2px 13px -2px rgba(0,0,0,0.83);
-moz-box-shadow: 2px 2px 13px -2px rgba(0,0,0,0.83);
}
.main__box .box__top{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin{
    font-size: 18px;
}
.box__top .form__top{
    margin-top: 24px;
}
.box__top .form__top input{
    padding: 16px;
    width: 314px;
    border-radius: 4px;
    border: 1px solid #DDE4ED;
}
.box__top .btn__signin{
    background-color: var(--signin-color);
    color: #ffffff;
    width: 314px;
    padding: 16px;
    border-radius: 4px;
    margin-top: 16px;
}
.box__top a{
    margin-top: 16px;
}
.box__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.or-use{
    margin-top: 32px;
    color: #96A6B9;
    font-size: 14px;
}
.box__bottom .icon__use{
    margin-top: 17px;
    display: flex;
    gap: 16px;
}
.no__account .text__no{
   font-size: 18px;
   color: #201E6D;
   margin-top: 32px;
}
.btn__no button{
    margin-top: 16px;
    width: 94px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #96A6B9;
    color: var(--blue-color);
}
.btn__no{
    display: flex;
    gap: 16px;
}